<h1>Edit blogsss type</h1>

<%= render "form", type_blog: @type_blog %>

<br>

<div>
  <%= link_to "Show this type blog", @type_blog %> |
  <%= link_to "Back to type blogs", type_blogs_path %>
</div>
